<%- include('header'); -%>
    <div class="box" id="heading">
        <h1 style="color: purple;"> <%= listTitle %> </h1>
    </div>
    <div class="box">
            <%  newListItem.forEach((value, index) => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" value="<%=value._id%>" name="checkbox" id="" onchange="this.form.submit()">
                         <p><%- newListItem[index].name%></p>
                    </div>
                </form>
            <% }); %>            
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value= <%= listTitle %> >+</button>
        </form>
    </div>
<%- include('footer'); -%>
